.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.Card {
  height: 400px;
  width: 400px;
}
